<!DOCTYPE html>

<html lang="en" class="font-primary" class="" ng-app="angularApp">

    <head>
        <title>One Corners | {{ title }}</title>

        <!-- Required Meta Tags Always Come First -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Fav-->
        <link rel="shortcut icon" href="/assets/frontend-assets/main-assets/favicon.ico">

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto%3A700%2C300">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Poppins:600">

        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/bootstrap/offcanvas.css">

        <!-- CSS Implementing Plugins -->
        <link  rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">
        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/icon-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/icon-etlinefont/style.css">
        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/icon-hs/style.css">
        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/icon-line-pro/style.css">

        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/animate.css">
        
        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/slick-carousel/slick/slick.css">
        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/hs-megamenu/src/hs.megamenu.css">
        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/hamburgers/hamburgers.min.css">
        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">

        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/dzsparallaxer/dzsparallaxer.css">
        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/fancybox/jquery.fancybox.css">

        <!-- CSS Unify -->
        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/css/unify.css">

        <!-- Revolution Slider -->
        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/revolution-slider/revolution/css/settings.css">
        <link rel="stylesheet" href="/assets/frontend-assets/main-assets/assets/vendor/revolution-slider/revolution-addons/polyfold/css/revolution.addon.polyfold.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <style>
            * {
                font-family: Roboto Condensed;
            }
            button, input, optgroup, select, textarea{
                font-family: Roboto Condensed;
            
            }
        </style>
    </head>

    <body class="u-body--header-side-overlay-right" >
        
<style>
    .menu_item{
      font-size: 22px;
      font-weight:500
    }
  
    .menu_menu{
      font-size: 36px;
      font-weight: 300;
    }
    .toggler_main .toggle_color{
      border-color:#486167;
      color:#486167;
    }
    
    .un_toggle_color{
      border-color:white;
      color:white;
    }
    .un_toggle_color:hover{
      border-color:white;
      color:white;
      background:#48616780; 
    }

   
  </style>
    <main>
        <header id="js-header-top" class="u-header u-header--abs-top u-header--show-hide u-header--change-logo u-header--change-appearance js-header-top " data-header-fix-moment="500" data-header-fix-effect="slide">
            <button hidden class="btn u-btn-white u-header-toggler u-header-toggler--top-left g-pa-0 header-toggler" id="header-toggler" aria-haspopup="true" aria-expanded="false" aria-controls="js-header" aria-label="Toggle Header" data-target="#js-header">
            <span class="hamburger hamburger--collapse">
                <span class="hamburger-box">
                <span class="hamburger-inner"></span>
                </span>
            </span>
            </button>
            <div class="u-header__section u-header__section--dark {{navfirst}} g-py-10 g-px-100" data-header-fix-moment-exclude="u-header__section--dark g-py-10" data-header-fix-moment-classes="u-header__section--light {{navfix}} u-shadow-v18 g-py-11 toggler_main">
            <a href="/#!/" class="navbar-brand">
                <img src="/assets/frontend-assets/main-assets/assets/img/logo/logo-1.png" style="height:3rem" alt="Image Description">
            </a>
            
            <div class="d-inline-block g-hidden-xs-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg" style="float:right">
                <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15 {{nav_buttons}} toggle_color" href="/#!/login" ng-if="!authUser"><i class="fa fa-user"></i>&nbsp; Login</a>
                    
                    <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15 {{nav_buttons}} toggle_color menuToggler" href="javascript:void(0)" id="menuToggler"><i class="fa fa-bars"></i>&nbsp; Menu</a>
                
                </div>
            </div>
    
        </header>

        <!-- Sidebar Navigation -->
        <div id="js-header" class="u-header u-header--side js-header" aria-labelledby="header-toggler" data-header-behavior="overlay" data-header-position="right" data-header-breakpoint="lg" data-header-classes="g-transition-0_5" data-header-overlay-classes="g-bg-black-opacity-0_8 g-transition-0_5">
          <div class="u-header__sections-container g-bg-white g-brd-right--lg g-brd-gray-light-v5 g-py-10 g-py-10--lg g-px-14--lg">
            <div class="u-header__section u-header__section--light">
              <nav class="navbar navbar-expand-lg">
                <div class="js-mega-menu container">
                  <!-- Responsive Toggle Button -->
                
                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                  <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                    </span>
                  </span>
                </button>
                  <!-- End Responsive Toggle Button -->
                  <!-- Logo -->
                
                  <!-- End Logo -->
    
                  <!-- Navigation -->
  
                  <div class="collapse navbar-collapse align-items-center  w-100 g-mt-5 g-mt-0--lg g-mb-40" id="navBar">
                    <h3 class="menu_menu"> MENU</h3>
                    <hr style="background:black;width:100%;    margin: 1rem;">
                    <ul class="navbar-nav ml-auto text-uppercase g-font-weight-600 u-sub-menu-v1">
                      
                      <li class="nav-item g-my-5 menu_item">
                        <a href="/#!/account" class="nav-link" ng-if="authUser"><i class="fas fa-users"></i>&nbsp; ACCOUNT
                      
                        </a>
                      </li>
                      <li class="nav-item g-my-5 menu_item">
                        <a href="/#!/register" class="nav-link" ng-if="!authUser"><i class="fas fa-users"></i>&nbsp; SIGNUP
                      
                        </a>
                      </li>
                      <li class="nav-item g-my-5 menu_item">
                        <a href="/#!/partnership" class="nav-link"><i class="fas fa-users"></i>&nbsp; PARTNERSHIP
                      
                        </a>
                      </li>
                      <li class="nav-item g-my-5 menu_item">
                        <a href="/#!/login" class="nav-link" ng-if="!authUser"><i class="fas fa-users"></i>&nbsp; LOGIN
                      
                          </a>
                      </li>
                      <li class="nav-item g-my-5 menu_item">
                          <a href="/#!/restaurants" class="nav-link"><i class="fas fa-bookmark"></i>&nbsp; RESTAURANTS
                        
                            </a>
                      </li>
                      <li class="nav-item g-my-5 menu_item">
                        <a href="/#!/order-history" class="nav-link" ng-if="authUser"><i class="fas fa-bookmark"></i>&nbsp; ORDER HISTORY
                      
                          </a>
                      </li>
                      <li class="nav-item g-my-5 menu_item">
                        <a href="/#!/contact" class="nav-link"><i class="fas fa-bookmark"></i>&nbsp; CONTACT
                      
                          </a>
                      </li>
                      <li class="nav-item g-my-5 menu_item">
                        <a href="/#!/terms-and-conditions" class="nav-link"><i class="fas fa-bookmark"></i>&nbsp; TERMS AND CONDITIONS
                      
                          </a>
                      </li>
                      <li class="nav-item g-my-5 menu_item">
                        <a href="javascript:void(0)" class="nav-link" ng-if="authUser"><i class="fas fa-sign-out-alt"></i>&nbsp; LOGOUT
                      
                        </a>
                      </li>
                      
                     
                    </ul>
                  </div>
                  <!-- End Navigation -->
    
                  <div class="text-center g-hidden-lg-down">
                    <ul class="list-inline g-mb-10">
                      <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                        <a href="#!" class="g-color-main g-color-primary--hover">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                        <a href="#!" class="g-color-main g-color-primary--hover">
                          <i class="fa fa-instagram"></i>
                        </a>
                      </li>
                      <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                        <a href="#!" class="g-color-main g-color-primary--hover">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                    </ul>
                    <p class="mb-0">2018 &copy; All Rights Reserved.</p>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
        <!-- End Sidebar Navigation -->
  

        <div ng-view></div>
        
        <ng-include src="'/partials/footer.html'"></ng-include>
    </body>
    <!-- JS Global Compulsory -->
    <script src="/assets/frontend-assets/main-assets/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/frontend-assets/main-assets/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/frontend-assets/main-assets/assets/vendor/jquery.easing/js/jquery.easing.min.js"></script>
    <script src="/assets/frontend-assets/main-assets/assets/vendor/popper.min.js"></script>
    <script src="/assets/frontend-assets/main-assets/assets/vendor/bootstrap/bootstrap.min.js"></script>

    <script src="/assets/frontend-assets/main-assets/assets/vendor/bootstrap/offcanvas.js"></script>


    <script  src="/assets/frontend-assets/main-assets/assets/vendor/jquery-ui/jquery-ui.core.js"></script>

    <script  src="/assets/frontend-assets/main-assets/assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
    <script  src="/assets/frontend-assets/main-assets/assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>
    <script  src="/assets/frontend-assets/main-assets/assets/vendor/jquery-ui/ui/widgets/autocomplete.js"></script>

    <!-- JS Unify -->
    <script  src="/assets/frontend-assets/main-assets/assets/js/components/hs.autocomplete.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="/assets/frontend-assets/main-assets/assets/vendor/masonry/dist/masonry.pkgd.min.js"></script>
    <script src="/assets/frontend-assets/main-assets/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/frontend-assets/main-assets/assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="/assets/frontend-assets/main-assets/assets/vendor/fancybox/jquery.fancybox.min.js"></script>

    <script src="/assets/frontend-assets/main-assets/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>


    <script src="/assets/frontend-assets/main-assets/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="/assets/frontend-assets/main-assets/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="/assets/frontend-assets/main-assets/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <script src="/assets/frontend-assets/main-assets/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>


    <!-- JS Unify -->
    <script src="/assets/frontend-assets/main-assets/assets/js/hs.core.js"></script>

    <script src="/assets/frontend-assets/main-assets/assets/js/components/hs.header-side.js"></script>

    <script src="/assets/frontend-assets/main-assets/assets/js/components/hs.header.js"></script>
    <script src="/assets/frontend-assets/main-assets/assets/js/helpers/hs.hamburgers.js"></script>
    <script src="/assets/frontend-assets/main-assets/assets/js/components/hs.scroll-nav.js"></script>
    <script src="/assets/frontend-assets/main-assets/assets/js/components/hs.carousel.js"></script>

    <script>
        $(document).ready(function(){
            $.HSCore.components.HSHeaderSide.init($('#js-header'));
            $.HSCore.components.HSHeader.init($('#js-header-top'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            $('.menuToggler#menuToggler').on('click',function(){
        
                $('.header-toggler').trigger('click');
            })

            $('.navbar-collapse#navBar').on('click','ul li.nav-item a',function(){
                $('.header-toggler').trigger('click');            
            })
        })
            
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/oclazyload/1.1.0/ocLazyLoad.js"></script>
    <script>
        // Initialize Firebase
        var config = {
        apiKey: "AIzaSyDr98K1ZyJePwudDrxCRmFa7B3PEahIJXk",
        authDomain: "webapp-204015.firebaseapp.com",
        databaseURL: "https://webapp-204015.firebaseio.com",
        projectId: "webapp-204015",
        storageBucket: "webapp-204015.appspot.com",
        messagingSenderId: "420742302089"
        };
        firebase.initializeApp(config);
    </script>
    
    <script src="./assets/js/angularapp.js"></script>
</html>