
<link   rel="stylesheet" href="/assets/css/materialInputs.css"/>
<style>
    .top_pull{
        margin-top:-10rem;
    }

   
    .page_title{
        font-size:36px;
    }
    .social_account_facebook{
        color:#3c5997;
        font-size:22px;
    }
    .social_account_google{
        color:#d93025;
        font-size:22px;
    }
    .social_account_connect{
        font-size:15px;
        color:green;
        line-height:35px;


    }
    .social_account_disconnect{
        font-size:15px;
        color:Red;
        line-height:35px;
    }
    .social_account{
        list-style: none;
        padding: 0px;
        margin-top:1rem;
    }
</style>

<section style="background:#efefef" class="g-py-40">
    <div class="row align-items-stretch">
        <div class="col-lg-12 g-mb-30">
            <!-- Article -->
            <article class="text-center g-color-white g-overflow-hidden">
                <div class="g-min-height-300 g-flex-middle g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after g-transition-0_5" data-bg-img-src="/assets/img/banner4.jpg" style="background-image: url(/assets/img/banner4.jpg);">
                    <div class="g-flex-middle-item g-pos-rel g-z-index-1 g-pb-50 g-pt-10 g-px-20">
                        <h3 class="page_title">Your Account</h3>
                    </div>
                </div>
            </article>
            <!-- End Article -->
        </div>
        
        
    </div>


    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-9 col-lg-5 top_pull">
            <div class="u-shadow-v21 g-bg-white rounded g-py-20 g-px-30">
            

                <!-- Form -->
                <form class="g-py-15">
            

                <header class="mb-3">
                        <h2 class="h2 g-color-black ">Account Details</h2>
                </header>
                <hr style="margin:0px">            
                <div class="row">
                    <div class="col-xs-12 col-sm-6 mb-4">
                            <label class="pure-material-textfield-outlined"  >
                                    <!-- <i class="fa fa-users pull-right" ></i> -->
                                <input type="text" placeholder=" " value="Saurav">
                                    
                                <span>First Name </span>
                            </label>
                    </div>
                    <div class="col-xs-12 col-sm-6 mb-4">
                            <label class="pure-material-textfield-outlined"  >
                                    <!-- <i class="fa fa-users pull-right" ></i> -->
                                <input type="text" placeholder=" " value="Shrestha">
                                    
                                <span>Last Name </span>
                            </label>
                    </div>
                    <div class="col-xs-12 col-sm-6 mb-4">
                            <label class="pure-material-textfield-outlined"  >
                                    <!-- <i class="fa fa-users pull-right" ></i> -->
                                <input type="email" placeholder=" " value="sauravshrestha13@gmail.com">
                                    
                                <span>Email </span>
                            </label>
                    </div>
                    <div class="col-xs-12 col-sm-6 mb-4">
                            <label class="pure-material-textfield-outlined"  >
                                    <!-- <i class="fa fa-users pull-right" ></i> -->
                                <input type="number" placeholder=" " value="123123123123">
                                    
                                <span>Phone Number </span>
                            </label>
                    </div>
                </div>

                <div class="row justify-content-between mb-5">
                    <div class="col-8 align-self-center">
                        <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-16 g-pl-25">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                            <i class="fa" data-check-icon=""></i>
                            </div>
                            Subscribe to our newsletter 
                        </label>
                    </div>
                </div>
                <button class="btn btn-md u-btn-primary rounded " type="button">Save</button>

                </form>
                <!-- End Form -->

            </div>
        </div>
        
    </div>
    <br>
    <div class="row justify-content-center">

    <div class="col-sm-10 col-md-9 col-lg-5">
            <div class="u-shadow-v21 g-bg-white rounded g-py-20 g-px-30">
                <header class="mb-3">
                        <h2 class="h2 g-color-black ">Social Accounts</h2>
                </header>
                <hr style="margin:0px">   
                <ul class="social_account">
                    <li>
                    <span class="social_account_facebook "><i class="fab fa-facebook-f"></i>&nbsp;&nbsp;&nbsp; Facebook</span>
                    <a href="#!"><span class="social_account_connect pull-right"> Connect</span>   </a>
                    </li> 
                    <li> 
                
                    <span class="social_account_google"><i class="fab fa-google"></i>&nbsp;&nbsp;&nbsp; Google</span>
                    <a href="#!"> <span class="social_account_disconnect pull-right">Disconnect</span>   </a>
                    </li> 
                </ul>         

            </div>
        </div>
    </div>

</section>