
<style>
    .top_pull{
        margin-top:-10rem;
    }

    
    .page_title{
        font-size:36px;
    }
</style>

<section style="background:#efefef" class="g-py-40">
    <div class="row align-items-stretch">
        <div class="col-lg-12 g-mb-30">
            <!-- Article -->
            <article class="text-center g-color-white g-overflow-hidden">
                <div class="g-min-height-300 g-flex-middle g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after g-transition-0_5" data-bg-img-src="/assets/img/banner4.jpg" style="background-image: url(/assets/img/banner4.jpg);">
                    <div class="g-flex-middle-item g-pos-rel g-z-index-1 g-pb-50 g-pt-10 g-px-20">
                        <!-- <h3 class="page_title">Buisness Signup</h3> -->
                    </div>
                </div>
            </article>
            <!-- End Article -->
        </div>
        
        
    </div>


    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-9 col-lg-6 top_pull">
        <div class="u-shadow-v21 g-bg-white rounded g-py-20 g-px-30">
            <header class="mb-3">
            <h2 class="h2 g-color-black">Cookies</h2>
            </header>
            <hr style="margin:0px">
          
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
            <!-- End Form -->

        </div>
        </div>
    </div>

</section>